ujson
tensorflow
rasa
--upgrade pip==20.2
rasa-x --extra-index-url https://pypi.rasa.com/simple
PyHive==0.6.4
pyhive
thrift==0.13.0
thrift_sasl==0.4.3
pandas==1.1.5
numpy
sasl-0.2.1-cp36-cp36m-win_amd64.whl
sasl==0.2.1
typed-ast 
cpython
FOR /F "usebackq delims=" %A IN (`python -c "from importlib import util;import os;print(os.path.join(os.path.dirname(util.find_spec('sasl').origin),'sasl2'))"`) DO (
  REG ADD "HKEY_LOCAL_MACHINE\SOFTWARE\Carnegie Mellon\Project Cyrus\SASL Library" /v SearchPath /t REG_SZ /d "%A"
)
————————————————
版权声明：本文为CSDN博主「wenjun_xiao」的原创文章，遵循CC 4.0 BY-SA版权协议，转载请附上原文出处链接及本声明。
原文链接：https://blog.csdn.net/wenjun_xiao/article/details/104458940
